<!-- <tr>
  <th>Nama Group</th>
  <th>Lokasi RW</th>
  <th>Total Active Member</th>
</tr> -->

<tr>
  <td><%= group_loan.name %></td>
  <td><%= group_loan.get_commune %></td>
  <td><%= group_loan.preserved_active_group_loan_memberships.count %></td>
</tr>