<tr id="start_group_loan-<%= group_loan.id %>">
  <td><%= link_to group_loan.name, new_group_loan_group_loan_subcription_url(group_loan) %></td>
  <td><%= group_loan.get_commune %></td>
  <td><%= group_loan.members.count %></td>

  
  <td><span class="label">Pending</span></td>
  <td><span class="label">Pending</span></td>
  <td><span class="label">80%</span></td>
  
 
</tr>