<tr id="start_group_loan-<%= group_loan.id %>">
  <td><%= link_to group_loan.name, new_group_loan_group_loan_subcription_url(group_loan) %></td>
  <td><%= group_loan.get_commune %></td>
  <td><%= group_loan.members.count %></td>

  
  <td>
    <% if group_loan.is_setup_fee_collection_finalized == false %>
      <span class="label">Pending</span>
    <% elsif group_loan.is_setup_fee_collection_finalized == true  and 
              group_loan.is_setup_fee_collection_approved == false and 
               group_loan.is_setup_fee_collection_approved == false %>
      <span class="label label-warning">Pending Cashier Approval</span>
    <% elsif   group_loan.is_setup_fee_collection_finalized == true  and 
               group_loan.is_setup_fee_collection_approved == true and 
               group_loan.is_setup_fee_collection_approved == true  %>
      <span class="label label-success">DONE</span>
    <% end %>
  </td>
  
  
  <td>
    <% if group_loan.is_setup_fee_collection_finalized == true  and 
          group_loan.is_setup_fee_collection_approved == true and 
          group_loan.is_setup_fee_collection_approved == true and 
          group_loan.is_loan_disbursement_done == false  %>
      <span class="label label-warning">In Progress</span>
    <% elsif   group_loan.is_setup_fee_collection_finalized == true  and 
            group_loan.is_setup_fee_collection_approved == true and 
            group_loan.is_setup_fee_collection_approved == true and 
            group_loan.is_loan_disbursement_done == true    %>
      <span class="label label-success">DONE</span>
    <% end %>
  </td>
  
  <td><span class="label">80%</span></td>
  
 
</tr>