

<% if group_loan.is_default_payment_resolution_proposed == false %>
  <div class="alert alert-success" style="text-align: center;" id="propose_standard_default_resolution">
    <strong><%= t 'trigger.propose_default_loan_resolution'%>!</strong> <br />
    <a href="#" class="btn propose action prevent_double_submit"
    id="pending_approval_grace_period_transaction-<%= @group_loan.id %>"><%= t 'trigger.propose'%></a>
  </div>
<% elsif group_loan.is_default_payment_resolution_proposed == true and  
  group_loan.is_default_payment_resolution_proposed ==false%>
  <div class="alert alert-success" style="text-align: center;" id="propose_standard_default_resolution">
    <strong>Default Resolution is Proposed!</strong> <br />
    Pending Approval from Cashier and Branch Manager.
  </div>
  
<% elsif group_loan.is_default_payment_resolution_proposed == true and  
  group_loan.is_default_payment_resolution_proposed ==true and 
  group_loan.is_closed == false %>
  <div class="alert alert-success" style="text-align: center;" id="propose_standard_default_resolution">
    <strong>Default Resolution is EXECUTED!</strong> <br />
    Pending Group Loan Closing By Branch Manager
  </div>
<% end %>

