<% member = group_loan_membership.member %>



<tr id="make_payment_wrapper-<%= member.id %>">
  
  <td><%= member.name %></td>
  <td><%= member.address %></td>
  <!-- basic payment -->
  <td>50,000.00</td>
  <td> Pay Basic</td>
  
  <!-- back log payment  -->
  <td>50,000.00</td>
  <td>Pay Backlog</td>
  
  <!-- Special Payment -->
  <td>Special Payment</td>
    
  
    
    
  
    
    
  </td>
</tr>