$(document).ready(function(){
  var header_html;
  var body_html;
  
  <% if @transaction_activity.nil? %>
    header_html = "<h3>Extra Savings  payment FAIL</h3>";
    body_html = "<p>Check the payment value</p>";
  <% else %>
    header_html = "<h3>Extra savings payment  is SUCCESS</h3>";
    body_html = "<p><h3><%= t 'report_metric.member' %>: <%= @member.name %></h3></p>"  + 
              "<p><%= t 'variable.amount' %>: <%= print_money(@transaction_activity.total_transaction_amount) %></p>";
  <% end %>
  
  summonModalHTML( header_html , 
              body_html, 
                "myModal");
});