<table cellpadding="0" cellspacing="0" border="0" 
      class="table table-striped table-bordered" id="savings_account_summary">
  
  <tbody>
    <tr>
			<td>
				<b>Total Tabungan</b>
			</td>
			<td>
				<%= print_money( member.saving_book.total_savings_account )  %>
			</td>
		</tr>

  </tbody>

</table>